.loading-inline {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.loading-img-wrapper {
  max-width: 100px;
  display: inline-block;
}

.loading-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}